@font-face {
	font-family: 'Raleway', Arial, sans-serif;
	src        : url('Raleway-VariableFont_wght.ttf') format('truetype'),
		url('Raleway-Italic-VariableFont_wght.ttf') format('truetype');
	font-weight: normal;
	font-style : normal;
	font-weight: 500;
}

