@font-face {
	font-family: 'Raleway', Arial, sans-serif;
	src        : url('Raleway-VariableFont_wght.ttf') format('truetype'),
		url('Raleway-Italic-VariableFont_wght.ttf') format('truetype');
	font-weight: normal;
	font-style : normal;
	font-weight: 500;
}

body {
	width      : 100%;
	font-family: 'Raleway', Arial, sans-serif;
	font-size  : 0.8rem;
	color      : black;
	margin     : auto;
}

header {

	width       : 1340px;
	margin-left : auto;
	margin-right: auto;
}

nav div p {
	margin: 0;
}

main {
	width : 1340px;
	margin: 0 auto;
}

#titre_principal {
	display        : flex;
	flex-direction : row;
	justify-content: space-between;
	width          : 100%;
	align-items    : flex-end;
}

#logo img {
	
	width     : 6rem;
	box-sizing: content-box;
	object-fit: cover;
}


header nav {
	display: flex;
}

#logo {
	flex-basis: 66%;
}

.hebergement {
	flex-basis     : 10%;
	display        : flex;
	justify-content: center;
}

.activites {
	flex-basis     : 10%;
	display        : flex;
	justify-content: center;
}

.subscriptions {
	flex-basis     : 10%;
	display        : flex;
	justify-content: center;
}

.subscription a {
	font-weight: bold;
}

body header nav div a {
	padding        : 2.2rem 1rem 2rem;
	border-top     : 2px solid #FFFFFF;
	font-size      : 1.2rem;
	text-decoration: none;
	color: black;
}

header nav div a:hover {
	border-top: 2px solid #0065FC;
	color     : #0065FC;
}

h1 {
	font-family: 'Raleway';
	font-size  : 1.4rem;
	font-weight: bold;
}

h2,h3,h4 {
	font-family: 'Raleway';
	font-size  : 1.4rem;
	font-weight: bold;
}


h5 {
	margin-top: 3rem;
	font-size : 1.2rem;
}

p {
	font-family: 'Raleway';
	font-size  : 1.0rem;
	font-weight: normal;
}

.info_container {
	display       : flex;
	flex-direction: row;
	align-content : center;
	align-items   : center;
}

.info {
	display       : inline-block;
	border        : solid 2px #F2F2F2;
	border-radius : 50%;
	color         : #0065FC;
	font-size     : 1rem;
	margin-right  : 1rem;
	width         : 1rem;
	padding-left  : 10px;
	padding-bottom: 4px;
	padding-top   : 3px;
	cursor        : pointer;
	flex-grow     : 0;
	flex-shrink   : 0;
}

.subscription {
	color      : #0065FC;
	font-weight: bold;
}

::selection {
	color     : #F2F2F2;
	background: #0065FC;
}

body>header>div>nav>ul>li:hover {
	border-top: 2px solid #0065FC;
}

body>header>div>nav>ul>li:hover a {
	color: #0065FC;
}

.searchbar {
	display        : flex;
	justify-content: start;
	height         : 50px;
	font-size      : 1.3em;
}

button i.fa-search {
	display: none;
}

.font_search {
	font-weight: bold;
}
button {
	padding-left: 0px;
}
.but_search {
	font-family: "Raleway";
    font-size: 1.1rem;
    width: 134px;
    min-width: 40px;
    border-style: initial;
    border-radius: 0 15px 15px 0;
    background-color: #0065FC;
    color: #FFFFFF;
    position: relative;
    left: -12px;
}

.but_search:hover {
	background-color: #2079ff;
}

.searchbar label {
	display         : flex;
	justify-content : center;
	align-items     : center;
	width           : 48px;
	min-width       : 48px;
	font-size       : 1em;
	background-color: #F2F2F2;
	border-radius   : 15px 0 0 15px;
	padding-left    : 2px;
	padding-bottom  : 2px;
}

input#city {
	border: #F2F2F2 solid 2px;
    border-right: #FFFFFF solid 2px;
    padding-left: 10px;
    font-size: 1.1em;
    font-weight: bold;
    display: inline-block;
    width: 14rem;
}

input#city:focus,
input#city:active {
	border : #F2F2F2 solid 2px;
	outline: none;
}

.titre_filtres {
	margin-right: 1em;
}

.filtres {
	display        : flex;
	flex-wrap      : wrap;
	flex-direction : row;
	justify-content: flex-start;
	align-items    : baseline;
}

.filtres div {
	display       : flex;
	align-items   : center;
	flex-direction: row;
	margin        : 0.5em 0.5em;
	height        : 3.1rem;
	border        : solid 2px #F2F2F2;
	border-radius : 30px;
	padding-left  : 3.9rem;
	padding-right : 1rem;
}

.filtres label {
	font-weight: bold;
	display    : block;
	font-size  : 1.2rem;
}

.filtres input {
	opacity : 0;
	position: absolute;
}

.filtres div span {
	position   : absolute;
	display    : inline-block;
	color      : #2079ff;
	z-index    : 1;
	padding    : 0px;
	margin-left: -3em;
	transition : .3s;
}

.filtres div span i.fa-money-bill-wave {
	margin-left: 0.35em;
}

.filtres div span i.fa-child {
	margin-left: 0.6em;
}

.filtres div span i.fa-heart {
	margin-left: 0.5em;
	margin-top : 0.15em;
}

.filtres div span i.fa-dog {
	margin-left: 0.4em;
}

.filtres label::before {
	content         : ' ';
	display         : block;
	position        : absolute;
	width           : 53px;
	height          : 53px;
	background-color: #e1eaff;
	border-radius   : 30px;
	margin-top      : -15px;
	margin-left     : -65px;
	transition      : .3s;
}

.filtres input:checked+label::before {
	background-color: #2079ff;
}

.filtres input:hover+label::before {
	background-color: #2079ff;
}

.filtres input:checked+label {
	color: #2079ff;
}

.filtres input:checked+label span {
	color  : #f2f2f2;
	z-index: 999;
}

.filtres input:hover+label span {
	color  : #f2f2f2;
	z-index: 999;
}

/* article section aside */

article {
	display        : flex;
	flex-wrap      : wrap;
	flex-direction : row;
	justify-content: space-between;
}

#hebergements {
	display         : flex;
	background-color: #f2f2f2;
	padding         : 1em;
	border-radius   : 20px;
	width           : 830px;
	flex-direction  : row;
	flex-wrap       : wrap;
	align-content   : space-around;
	align-items     : center;
	justify-content : space-around;
	color: black;
}

.heb_card {
	display        : flex;
	height         : 6em;
	flex-direction : column;
	justify-content: space-around;
	padding-left   : 0.9rem;
	padding-top    : 0.5rem;
	color          : black;
}

.heb_card_titre {
	color      : black;
	font-weight: bold;
}

.heb_card p {
	margin : 0%;
	display: block;
}

.heb_card_setting_star {
	color    : #2079ff;
	font-size: 0.9rem;
}

#populaires {
	display         : flex;
	background-color: #f2f2f2;
	/* margin       : 0 auto 0 auto; */
	padding         : 1em;
	border-radius   : 20px;
	width           : 30%;
	/* height       : max-content; */
	flex-direction  : column;
	align-content   : center;
	align-items     : center;
}

.titre_hebergement {
	display        : flex;
	justify-content: left;
	width          : 100%;
	margin-left    : 2em;
}

.start_end {
	display        : flex;
	justify-content: space-between;
	align-items    : center;
	width          : 90%;
	margin         : 0 auto;
}

.enlarge {
	cursor   : pointer;
	display  : block;
	font-size: 1.3rem;
}

.afficher_plus {
	display      : flex;
	width        : 100%;
	font-size    : 1.1rem;
	font-weight  : bold;
	margin-left  : 20px;
	height       : 90px;
	align-content: center;
	align-items  : center;
}

.afficher_plus>span {
	cursor: pointer;
}

#hebergements a {
	display         : flex;
	flex-flow       : column;
	flex-wrap       : nowrap;
	width           : 248px;
	height          : 200px;
	background-color: #FFFFFF;
	border-radius   : 20px;
	padding         : 5px;
	text-decoration : underline #FFFFFF;
	margin-top      : 14.6px;
	margin-bottom   : 14.6px;
	box-shadow      : 0 0 10px #00000021;
}

#populaires a {
	display         : flex;
	width           : 88%;
	height          : 144px;
	background-color: #FFFFFF;
	border-radius   : 20px;
	padding         : 5px;
	flex-direction  : row;
	justify-content : flex-start;
	text-decoration : underline #FFFFFF;
	margin          : 1em auto;
}

.pop_card {
	display        : flex;
	width          : 17em;
	height         : 11.5em;
	flex-direction : column;
	justify-content: space-around;
	color          : black;
	transition     : 0.4s;
	padding-right  : 5px;
}

.pop_card p {
	margin: 0%;
	width : 139px;
}

.card_titre_populaire {
	padding-top: 1em;
	font-weight: bold;
}

.tarif {
	font-size  : 0.9rem;
	padding-top: 0.3rem;
}

.setting_star {
	display       : flex;
	color         : #2079ff;
	font-size     : inherit;
	flex          : 1;
	align-items   : flex-end;
	padding-bottom: 1em;
}

aside>a>img {
	box-sizing     : content-box;
	width          : 9.9em;
	margin         : 0 1em 0 0;
	border-radius  : 20px 0 0 20px;
	object-fit     : cover;
	transition     : 0.4s;
}

aside>a:hover img {
	width     : 180px;
	transition: 0.4s;
}

aside>a:hover .pop_card {
	transition: 0.4s;
}

#hebergements img {
	box-sizing   : content-box;
	height       : 115px;
	margin       : 0%;
	border-radius: 20px 20px 0 0;
	object-fit   : cover;
}

a>p {
	margin: 0%;
}

.euro {
	font-weight: bold;
	margin     : 0%;
	padding    : 0%;
}

.bold {
	font-weight: bold;
}

#activites {
	width: 97%;
}

.acti_titre {
	padding-left: 1rem;
}

#activites a {
	width        : 302px;
	box-shadow   : 0 0 20px #dcdcdc;
	border-radius: 20px;
	transition   : 0.3s;
}

/* p est le fils a */
#activites a:hover p {
	color           : white;
	font-size       : 1.2rem;
	background-color: #2079ff00;
	transition      : 0.3s;
}

#activites img {
	margin       : 0%;
	padding      : 0%;
	border-radius: 20px;
	object-fit   : cover;
	height       : 100%;
	width        : 302px;
}

.titre_activites {
	width: 97%;
}

#activites a {
	text-decoration: none;

}

.multi_size_box {
	display        : flex;
	flex-direction : column;
	flex-wrap      : wrap;
	height         : 444px;
	align-content  : space-between;
	justify-content: space-between;
}

#activites p {
	height          : 55px;
	position        : relative;
	/* width        : 282px; */
	/* text-align   : left; */
	top             : -57px;
	background-color: white;
	border-radius   : 0 0 20px 20px;
	display         : flex;
	font-weight     : bold;
	color           : black;
	padding-left    : 20px;
	align-items     : center;
}

.acti_card_1 {
	height: 444px;
}

.acti_card_2 {
	height: 236px;
}

.acti_card_3 {
	height: 164px;
}

.acti_card_4 {
	height: 444px;
}

.acti_card_5 {
	height: 194px;
}

.acti_card_6 {
	height: 209px;
}


footer {
	display         : flex;
	background-color: #f2f2f2;
	flex-direction  : row;
	/* padding-left : 16%; */
	/* padding-right: 20%; */
	flex-wrap       : nowrap;
	color           : black;
	font-size       : 1.2rem;
	margin-top      : 2rem;
	width           : 100%;
	justify-content : space-around;
}

.footer_card1,
.footer_card2,
.footer_card3 {
	display       : flex;
	flex-direction: column;
	align-content : flex-start;
	align-items   : flex-start;
	color         : black;
}

.footer_card2 {
	margin-left : 227px;
	margin-right: 296px;
}

footer a {
	text-decoration: none;
	color          : black;
	font-size      : 0.9rem;
	padding-bottom : 19px;
}

@media screen and (max-width: 1345px) {
	header {
		width: 100%;
	}

	.logo {
		padding-left: 1rem;
	}

	main {
		width: 100%;
	}
					/* 1er niveau de padding de la class .titre_main */
	.titre_main {
		padding: 0 1rem ;
	}

	footer {
		margin-top: 1rem;
	}

	.footer_card2 {
		margin-right: 0;
		margin-left : 0;
	}

	#populaires {
		display        : flex;
		justify-content: space-between;
		flex-basis     : 100%;
		flex-direction : row;
		flex-wrap      : wrap;
		align-items    : center;
		padding-bottom : 1rem;
		padding-top    : 0;
		margin         : 1rem;
	}

	#populaires img {
		width: 30%;
	}

	#hebergements {
		order          : 2;
		width          : 100%;
		margin         : 1rem;
		justify-content: flex-start;
	}

	#hebergements a {
		width : 26%;
		margin: 1em auto;
	}

	#activites {
		order : 3;
		width : 100%;
		margin: 0 1rem;
	}

	h2 {
		margin: 1rem 0;
	}

	.multi_size_box {
		width          : 100%;
		display        : flex;
		flex-direction : row;
		flex-wrap      : wrap;
		height         : fit-content;
		align-content  : flex-start;
		justify-content: center;
	}

	.multi_size_box a {
		height   : 190px;
		width    : 27%;
		margin   : 1em auto;
	}
}

@media screen and (max-width: 1024px) {

	header {
		padding-left: 0;
	}

	article {
		display  : flex;
		flex-wrap: wrap;
		width    : 100%;
	}

	#hebergements {
		padding: 0;
	}



	#hebergements {
		width           : 100%;
		margin          : 0;
		background-color: #FFFFFF;
	}

	#hebergements a {
		width: 45%;
	}


	#activites a {
		width: 45%;
	}

	#activites img {
		width: 100%;
	}

	.footer_card2 {
		margin-left : 4rem;
		margin-right: 4rem;
	}

}

@media screen and (max-width: 545px) {

	#titre_principal {
		flex-wrap      : wrap;
		display        : flex;
		flex-direction : row;
		justify-content: flex-start;
		align-items    : center;
	}

	#logo {
		display   : block;
		flex-basis: 50%;
		order     : 1;
	}

	.hebergement {
		order          : 3;
		flex-basis     : 50%;
		display        : flex;
		justify-content: center;
		border-bottom  : 2px solid #F2F2F2;
	}

	.activites {
		order          : 4;
		flex-basis     : 50%;
		display        : flex;
		justify-content: center;
		border-bottom  : 2px solid #F2F2F2;
	}

	.subscriptions {
		order          : 2;
		display        : flex;
		flex-basis     : 50%;
		justify-content: flex-end;
		align-items    : center;
	}

	body>header>nav>div>a:hover {
		border-top: 2px solid #FFFFFF;
		z-index   : 1;
	}

	.hebergement:hover {
		border-bottom: 2px solid #0065FC;
	}

	.activites:hover {
		border-bottom: 2px solid #0065FC;
	}

	.activites:hover a {
		color: #0065FC;
	}

	.hebergement:hover a {
		color: #0065FC;
	}

	.p_info {
		padding: 0 1em;
	}
	
	button i.fa-search {
		display: block;
		color  : #FFFFFF;
	}

	.font_search {
		display: none;
	}

	#populaires {
		margin: 0%;
		width : 100%;
	}

	#hebergements a {
		width: 80%;

	}

	#activites a {
		width : 95%;
		height: 190px;
	}

	#activites img {
		width: 100%;
	}

	main {
		padding: 0;
	}

	footer {
		flex-direction: column;
		align-items   : center;
	}

	.footer_card1,
	.footer_card2,
	.footer_card3 {
		flex-direction: column;
		align-items   : center;
	}

	.footer_card {
		margin: 0;
	}
}

@media screen and (max-width: 475px) {

		/* deuxieme niveau de reglage du padding de la classe .titre_main */
		/* mais ce la ne marche pas ! ! ! !  */
		/* pb resolut, je n'avais pas mis d'echelle de valeur à mon media queries */

	.titre_main {
		padding: 0 0.5rem;
	}

	h5 {
		flex-basis: 100%;
		margin-top: 1em;
	}

	.searchbar {
		width : 100%;
		margin: 0%;
	}


}

@media screen and (max-width: 375px) {
	.but_search {
		border-radius: 15px;
	}

	.filtres h5 {
		flex-basis   : 100%;
		margin-top   : 1em;
		margin-bottom: 1rem;
	}

}
