@font-face {
	font-family: 'Raleway', Arial , sans-serif;
	src: url('Raleway-VariableFont_wght.ttf') format('truetype'),
		 url('Raleway-Italic-VariableFont_wght.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-weight: 100;
}

header
{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	background-color: none;
}

#titre_principal
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

#logo img
{
	height: 49px;
	/* display: flex;
	width: 94px;
	height: auto;	 */
}

body
{
	margin: auto;
	font-family: 'Raleway', Arial, sans-serif;;
	background-position: auto;
	width: 70%;
	font-size: 0.8em;
	color: black;
}

nav ul
{
	list-style-type: none;
	display: flex;
	justify-content: flex-end;
	margin: 0px;
}
header nav
{
	display: block;
}
nav li
{
	padding: 30px 15px 5px 15px;
	border-top: 2px solid #FFFFFF;
}

header nav a
{
		text-decoration: none;
}

h1 
{ 
	font-family: 'Raleway';
	 font-size: 1.4em;
	 font-style: bold;
}
  
 p 
 { font-family: 'Raleway';
	 font-size: 1.0em;
	  font-style: normal;
	   font-variant: normal;
 }

.subscription
{
	color: #0065FC;
	font-weight: bold;
}

 body>header>div>nav>ul>li:hover{
	border-top: 2px solid #0065FC;
	display: inline-block;
	text-align: match-parent;
	position: static;

 }